* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: gray;
}

.title {
    color: black;
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
}

.title:after {
    content: 'Tetris';
    animation: dots 1s steps(8, end) infinite;
}

@keyframes dots {

    0%,
    20% {
        color: rgba(0, 0, 0, 0);
        text-shadow:
            .25em 0 0 rgba(0, 0, 0, 0),
            .5em 0 0 rgba(1, 1, 1, 1);
    }

    40% {
        color: grey;
        text-shadow:
            .25em 0 0 rgba(0, 0, 0, 0),
            .5em 0 0 rgba(0, 0, 0, 0);
    }

    60% {
        text-shadow:
            .25em 0 0 grey,
            .5em 0 0 rgba(0, 0, 0, 0);
    }

    80%,
    100% {
        text-shadow:
            .25em 0 0 grey,
            .5em 0 0 grey;
    }
}

.board {
    border: 2px solid black;
    margin: auto;
    width: 640px;
    height: 800px;
    position: relative;
}

.square {
    background: green;
    width: 50px;
    height: 50px;
    position: absolute;
}

.score {
    width: 150px;
    height: 60px;
    padding: 14px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 10px auto;
}

.score__info {
    color: limegreen;
    font-size: 25px;
}

@media screen and (min-width: 1200px) {
    .board {
        width: 640px;
        height: 800px;
    }
}

@media screen and (max-width: 785px) {
    .board {
        width: 320px;
        height: 400px;
    }
}

.play {
    text-align: center;
}

.start,
.pause,
.stop {
    border-radius: 3px;
    width: 80px;
    height: 40px;
    background: #469a50;
    margin: 10px auto;
    text-transform: uppercase;
}